.checkZoom {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fff;
    padding: 5px;
    border: 1px solid #bababa;
    border-radius: 5px;
}
.checkZoomSpan{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    width: 190px;
    text-align: left;
    /*border-radius: 50%;*/
    margin: 0 5px;
    cursor: pointer;
    /*background: #333;*/
    color: #000000;
    font-size: 12px;
    /*border: 1px solid #333;*/
    white-space:nowrap;
}
.checkZoomSpan:hover{
    background: #fff;
    color: #333;
}