.circleContainer {
    position: absolute;
    bottom: 50px;
    left: 10px;
    /*background: #fff;*/
    /*padding: 5px;*/
    /*border: 1px solid #bababa;*/
    /*border-radius: 5px;*/
    backgroundColor: #FFFFFF;
    height: 41px;
    width: 41px;
    /*border: 1px solid #FF8524;*/
    border-radius: 41px;
    boxShadow: rgba(106,106,106,10) 0px 1px 2px;
    line-height: 41px;
    color: #000000;
    font-size: 13px;
    text-align: center;
    justifyContent: center;
    alignItems:center;
}
.icon {
    width: 56px;
    height: 56px;
}